@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
object-fit: fill;
overflow: hidden;
}


nav{
    background-color: #ffffff;
    
}

nav a{
    color: #FA9600;
    margin: 15px;
    font-style: bold;
    font-family: 'Bangers', cursive;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:first-child img{
    width: 40px;
}

img{
    max-width: 2rem;
}

.navbar-toggler {
    background-color: black;
}

#hatter{
    background-image: url(../pics/mainsitepic.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#hatter .intro .col-md-8{
    background-color: rgba(0,0,0,0.4);
    max-height: 35rem;
    padding-top: 2rem;
    max-width: 30rem;
}
#hatter .intro{
    color: #FA9600; 
    height: 100vh;
    padding-top: 15rem;
}

h1{
    text-align: center;
}
